nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 60px;
  padding-top: 10px;
}

a {
  color: #ff4b0d;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  list-style-type: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #ffb701;
  justify-self: start;
}

.logo img {
  margin-top: 42px;
  width: 100px;
}

.signout {
  background-color: burlywood;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  transition: background-color 0.3s linear;
}

.signout:hover {
  cursor: pointer;
  background-color: #ffb701;
}

.signout a {
  color: #000;
}

.signout a:hover {
  text-decoration: none;
}

.signout:hover {
  transform: scale(1.05);
}

.login {
  background-color: burlywood;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
}

.login:hover {
  transform: scale(1.05);
}
