/* signInForm.css */

/* Style for the form container */
.signInFormContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: burlywood;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .signInFormContainer h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .signInFormContainer label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .signInFormContainer input[type="text"],
  .signInFormContainer input[type="password"] {
    width: 100%;
    padding: 8px;
   transform:translate(-2%);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signInFormContainer button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signInFormContainer button:hover {
    background-color: #555;
  }
  
  .signInFormContainer p {
    color: red;
    margin-top: 10px;
  }