@import url('https://fonts.cdnfonts.com/css/fun-groovy');

body {
    font-size: 20px;
    background-color: #fefbfa;
}

nav {
    font-family: 'Fun Groovy', sans-serif;
    position: sticky;
    top: 0;
    box-shadow: 0px 15px 10px -15px #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fun Groovy', sans-serif;
}

h1, h3, h5 {
    color: #333;
}

h2, h4, h6 {
    color: #ff4b0d;
}

button {
    font-family: 'Fun Groovy', sans-serif;
}

footer {
    font-family: 'Fun Groovy', sans-serif;
    color: #ffb701;
    padding: 50px;
}